body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,207cca+29,207cca+29,207cca+52,2989d8+71,7db9e8+100 */
    /*background: #7db9e8; /* Old browsers */
    /*background: -moz-linear-gradient(left, #7db9e8 0%, #207cca 29%, #207cca 29%, #207cca 52%, #2989d8 71%, #7db9e8 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(left, #7db9e8 0%,#207cca 29%,#207cca 29%,#207cca 52%,#2989d8 71%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to right, #7db9e8 0%,#207cca 29%,#207cca 29%,#207cca 52%,#2989d8 71%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    /*color: #000000;*/
    background: #0070c0;
}

h1{
    font-size:2.8vw;
    line-height:2.8vw;
    color: #000000;
}

h2{
    font-size:2.2vw;
    line-height:2.2vw;
    color: #000000;
}


h3{
    font-size: 1.8vw;
}

/*inicio bootstrap personalizado*/
.containerP{
    overflow:hidden;
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.containerP1{
    overflow:hidden;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.containerP2{
    overflow:hidden;
    width: 96%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-group{
    margin-bottom: 0.5vw;
}

.form-control{
    height: 2.5vw;
    font-size: 1vw;
}

::placeholder { font-size: 1vw; }
:-ms-input-placeholder { font-size: 1vw; } /* IE 10+ */
::-webkit-input-placeholder { font-size: 1vw; } /* WebKit */
::-moz-placeholder { font-size: 1vw; } /* Firefox 19+ */
/*fin bootstrap personalizado*/

.color0000{
    color: #ffffff;
}

.color0001{
    color: #002060;
}

.backColor0000{
    background: #00b0f0;
}

.backColor0001{
    background: #a0e9fa;
}

.backColor002{
    background: #5b9bd5;
}

.backColor0003{
    background: #ffffff;
}

.backColor0004{
    background: #d9d9d9;
}

.tabInactive{
    background: #d9d9d9;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    margin-right:2px;
}

.p1{
    font-size:2vw;
    margin-bottom:-0.5vw;
    text-align: center;
}

.containerP.cab, .containerP2.cab{
    background:#f1f1f1; 
    margin-top:40px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.containerP.cab h1, .containerP2.cab h1{
    font-size:3.2vw;
    line-height:3.2vw;
    color: #0070c0;
}

.containerPersonal{
    padding-left: 8vw;
    padding-right: 8vw;
    overflow: hidden;
    position: relative;
    /*margin-top:20px;*/
}

.fondoPrincipal{
    background: #ffffff;
    opacity: 0.2;
}

.content-img{
    padding-left:4vw;
}

.content-img img.img-small{
    display:inline-block;
    height: 1.5vw; 
    width:auto; 
    margin-top:3vw;
}

.content-img img.img-logo{
    display:inline-block; 
    height: 4.5vw; 
    width:auto;
}

.img-adminis{
    margin-top:-10px;
    display:inline-block;
    height: 4vw; 
    width:auto; 
}

.content-logo span{
    color: #000000;
    font-size: 1.5vw;
    line-height: 1.5vw;
}

.menuPersonalizado {
    width: 100%;
    height: 6vw;
    line-height: 6vw;
    background-color: transparent;
    color: #0000FF;
    position: absolute;
    z-index: 1;
}

.menuPersonalizado .row p{
    font-size:2.8vw;
    color: #000000;
}
 
.backgroundTransparente {
    width: 100%;
    height:6vw; 
    line-height:6vw; 
    background: #ffffff;
    opacity: 0.2;
    margin-top: 2vw;
}

.menuPersonalizado p{
    font-size: 1.8vw;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.contentPestanaMenu {
    width: 12vw;
    height: 2.5vw;
    -moz-border-radius: 0 0 50% 50%;
    -webkit-border-radius: 0 0 50% 50%;
    border-radius: 0 0 50% 50%;
    background: transparent;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    margin-top: 6vw;
    left: 50%;
    margin-left: -6vw;
    cursor: pointer;
}

.pestanaMenu {
    width: 12vw;
    height: 2.5vw;
    -moz-border-radius: 0 0 50% 50%;
    -webkit-border-radius: 0 0 50% 50%;
    border-radius: 0 0 50% 50%;
    background: #ffffff;
    margin: 0 auto;
    opacity: 0.2;
}

.centradoPorcentual{
    position: absolute; 
    top:50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.menuDiagnosticTransparent {
    height: 6vw;
    background: #ffffff;
    margin: 0 auto;
    opacity: 0.2;
    display: none;
}

.menuDiagnostic {
    width: 100%;
    height: 6vw;
    background: transparent;
    margin: 0 auto;
    border-top:0.3vw solid #ffffff;
    border-bottom:0.3vw solid #ffffff;
    margin-top: 6vw;
    position: absolute;
    z-index: 1;
    display: none;
}

.menuDiagnostic div{
    width: 8vw; 
    height: 3.4vw;
    /*border: 1px solid;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
}

.menuDiagnostic img.img-diagnostic{
    display:inline-block;
    height: 3vw; 
    width:auto; 
    cursor: pointer;
}

.circulo {
    width: 0.8vw;
    height: 0.8vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin:0.1vw;
}
        
.backAmarillo{
    background: yellow;
}

.backVerde{
    background: green;
}

.backNegro{
    background: #000000;
}

.backRojo{
    background: red;
}

.pointer{
    cursor: pointer;
}

.footer{
    margin-top: 1.5vw;
    width: 40vw;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    position: absolute;
    bottom: 0;  
}

.footer p{
    font-size: 1.5vw;
    line-height: 1.5vw;
    color: #000000;
    text-align: center;
}

.footer1{
    width: 40vw;
    margin: 0 auto;
}

.footer1 p{
    font-size: 1.5vw;
    line-height: 1.5vw;
    color: #000000;
    text-align: center;
}

.bold{
    font-weight: bold;
}

.content-principal{
    margin-top: 2vw;;
}

.content-info{
    height:13vw;  
    /*width:calc(100% - 30px); 
    position:absolute;
    z-index:1;*/
    padding:0.8vw;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background: #ffffff;
}

/*.content-info .interno{
    width:100%; 
    height:80%;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    position: absolute;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}*/

.interno .interno-head{
    width:80%; 
    margin:0 auto;
}

.interno-head img{
    width:auto; 
    height:5vw; 
    display:inline-block;
}

.interno-head img.horizontal{
    width:7vw; 
    height:auto; 
    display:inline-block;
}

.interno-head h3{
    display:inline-block;
}

.interno .interno-content{
    margin-top:0.5vw;
    font-size: 1.2vw;
}

.content-info-transparent{
    height:13vw; 
    background: #ffffff;
    opacity: 0.2;
}

.alturaCompleta{
    height:100%;
}

.centradoVerticalPorcentual{
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    position: absolute;
}

.centradoHorizontalPorcentual{
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    position: absolute;
}

.row-personal{
    margin: 0;
    clear: both;
}

.img-download{
    width:5vw; 
    height:auto; 
    display:block; 
    margin:0 auto;
    cursor: pointer;
}

.content-descarga{
    overflow:hidden;
    height:15vw;
}

.img-circulo{
    height:8vw; 
    width:auto; 
    /*margin-top:50%;*/
}

.desplazamiento{
    top:20vw; 
    font-size:1.5vw;
    z-index:1;
}

.desplazamientoRight{
    top:20vw; 
    font-size:1.5vw;
    right: 0vw;
    position:absolute;
    cursor: pointer;
    z-index:1;
}

.circleTop{
    margin-top:-60px;
}

.circulo1 {
    display: table;
    width: 9vw;
    height: 9vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin: 0 auto;
}

.circulo1 > .centrado{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.3vw;
}

.botonGris{
    background: #bfbfbf;
    color: #ffffff;
    font-size: 1vw;
}

.botonGris:hover{
    opacity: 0.6;
}

.imgDivFondo{
    height:18vw;
}

.imgDivFondo1{
    display: table;
    position: absolute;
    height:18vw;
}

.arrowRight{
    display: table;
    height:12.6vw;
}

.imgDivFondo1 > .row, .imgDivFondo1 > .centrado, .arrowRight > .centrado{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.btnArrow{
    font-size: 1vw;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #ffffff; 
    padding:1vw; 
    padding-right:2vw;
    cursor: pointer;
}