/* reset */
html, body, div, textarea, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    /*outline: 0;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;*/
    margin: 0;
    padding: 0;
}
/*
body {
    line-height: 1;
    color: #000;
    background: #FFF;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    font-weight: 400;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

h3 {
    font-weight: inherit;
}

h2 {
    font-weight: inherit;
}

#centered_div {
    margin:150px auto;
    text-align: center;
}

a {
    color: #000000;
}

a:visited {
    color: #3d343a;
}

a:hover {
    text-decoration: none;
}

.footer {
    font-size: 11px;
    padding-top: 40px;
    text-shadow: none !important;
    color: #555;
    line-height: 18px;
}

.footer a {
    color: #555;
    text-decoration: none;
    border-bottom: 1px dotted #555;
}

.fieldset{
    margin:0 auto;
    padding:20px;
    border: 1px solid #00B0F0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width:calc(98% - 40px);
    overflow:hidden;
}

.contentSchedule{
    width:400px; 
    overflow:hidden; 
    margin:0 auto;
}

.fieldsetSchedule{
    margin:0 auto;
    padding:20px;
    border: 1px solid #00B0F0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width:100px;
    overflow:hidden;
    float:left;
}

.fieldsetInicio{
    padding:20px;
    border: 1px solid #00B0F0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width:100px;
    overflow:hidden;
    float:right;
}

.fieldsetDaily{
    margin:0 auto;
    padding:20px;
    border: 1px solid #00B0F0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width:150px;
    overflow:hidden;
}

.fieldsetWeekly{
    margin:0 auto;
    padding:20px;
    border: 1px solid #00B0F0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width:360px;
    overflow:hidden;
}

.fieldsetMonthly{
    margin:0 auto;
    padding:20px;
    border: 1px solid #00B0F0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width:570px;
    overflow:hidden;
}

.cont-monthly-label{
    width: 35px;
    float: left;
    margin-top: 8px;
}

.fieldsetNoDescubiertoEquipo{
    float: left;
    margin-right: 20px; 
    border: 1px solid #00B0F0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width:250px;
    overflow:hidden;
}

.fieldsetNoDescubiertoReto{
    float: left;
    border: 1px solid #00B0F0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width:350px;
    overflow:hidden;
}

/*inicio estilo Gantt*/
/*.titulo1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
/*fin estilo Gantt*/

/*.tablap {     
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;                      
    font-size: 12px; 
    margin: 0 auto;   
    width: 99%; 
    text-align: left;    
    border-collapse: collapse; 
}

.tablap th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;     
    background: #aabcfe;
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #039; 
    vertical-align: middle;
}

.tablap td {    
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent; 
    vertical-align: middle;
}

.tablap tr:hover td { 
    background: #d0dafd; 
    color: #339; 
}

.tablap tbody td.nuevoProducto{
    background-color:#CC0000;
    color: #ffffff;
}

.tablap tbody td.productoNoExiste{
    background-color:#000000;
    color: #ffffff;
}

.contenedorFlex{
    padding: 2px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.divCotizLicensing{
    width:200px;
}

/*inicio estilo de la plantilla*/
/*.contenedor{
    margin: 20px;
    overflow: hidden;
    width:97%;
}

.divMenuPrincipal{
    float:left; 
    width:140px; 
    overflow:hidden;
}

.divContenedorRight{
    width:calc(99% - 160px); 
    margin:0; 
    padding:0px; 
    margin-left: 140px; 
    padding-left: 20px; 
    float:left;
}

.divMenuContenido{
    width:100%; 
    margin:0px; 
    padding:0px; 
    overflow:hidden; 
    height:42px;
}

.bordeContenedor{
    display:block;
    width:100%; 
    margin:0px; 
    padding:0px;
    background:#D9D9D9; 
    min-height:300px; 
    overflow:hidden;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.bordeContenedorSam{
    display:block;
    width: calc(100% - 140px); 
    margin:0px; 
    padding:0px;
    background:#D9D9D9; 
    min-height:300px; 
    overflow:hidden;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.contenido{
    margin:20px auto; 
    padding:20px;
    background:#F2F2F2; 
    overflow:hidden;
    min-height:300px; 
    width:calc(96% - 40px);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
/*fin estilo de la plantilla*/

/*inicio boton desplegable de ayuda*/
/*.botonDesplegableHead{
    position:fixed; 
    top:80px; 
    right:20px;
    z-index: 500;
}

.btn-desplegable{
    float:right;
    background-color: #000000;
    color: #FFFFFF;
    padding:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.linksBotones{
    background-color: #000000; 
    min-width: 200px; 
    clear:both;
    display:none;
}

.linksBotones a{
    text-decoration: none; 
    display: block; 
    padding:10px;
    color: #FFFFFF;
}

.linksBotones a:hover{
    background-color: #434343;
}

.botonDesplegableHead:hover .btn-desplegable{
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.botonDesplegableHead:hover .linksBotones{
    display : block;
}
/*fin boton desplegable de ayuda*/

/*.rowMiddle{
    vertical-align: middle;
}

.hide{
    display:none;
}*/