/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* start editing from here */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*-contact start here--*/
body {
   background: #06B6FF;

   padding:50px 0px 30px 0px;
   font-family: 'Open Sans', sans-serif;
   font-size: 100%;
}

.top-bar {
  background-size: cover;
  padding: 15px 0px;
 /* background: rgba(255,255,255,0.8); /* Old browsers */
/*background: -moz-linear-gradient(top,  #5541e0 1%, #6a5cdb 26%, #9f95eb 67%, #e1dcfa 93%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5541e0), color-stop(26%,#6a5cdb), color-stop(67%,#9f95eb), color-stop(93%,#e1dcfa)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  #5541e0 1%,#6a5cdb 26%,#9f95eb 67%,#e1dcfa 93%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  #5541e0 1%,#6a5cdb 26%,#9f95eb 67%,#e1dcfa 93%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  #5541e0 1%,#6a5cdb 26%,#9f95eb 67%,#e1dcfa 93%); /* IE10+ */
/*background: linear-gradient(to bottom,  #5541e0 1%,#6a5cdb 26%,#9f95eb 67%,#e1dcfa 93%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5541e0', endColorstr='#e1dcfa',GradientType=0 ); /* IE6-9 */

}

.link1{color:#000000; font-weight:bold; text-decoration:underline;}

#cabecera{
	width:100%;
	background-color:#000;
	margin:0px;
	padding:0px;
	overflow:hidden;
		
}

.contenedor{
    width:100%;
    overflow:hidden;
    min-height:400px;
    padding:0px;
    margin:0px;	
}

.contenedorMenuAdmin{
    overflow:hidden; 
    margin:0 auto; 
    margin-top: 20px;
    width:98%; 
}

.contenedorMenuInterno{
    width:100%; 
    margin:0px; 
    margin-left: 15px; 
    padding:0px; 
    overflow:hidden; 
    height:42px;
}

.contenedorCuerpoAdmin{
    width:95%; 
    margin:0 auto; 
    padding:0px; 
}

.contenedorCentralInterno{
    width: 95%; 
    margin:0 auto; 
    margin-top: 20px; 
    padding:0px; 
    overflow:hidden;  
    min-height:500px; 
}

.bordeContenedor{
    width:100%; 
    margin:0px; 
    padding:0px;
    background:#D9D9D9; 
    min-height:300px; 
    overflow:hidden; 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.contenido{
    margin:20px; 
    padding:20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background:#F2F2F2; 
    overflow:hidden;
    min-height:300px; 
    width:auto;
}

.contenidoInicio{
    width:850px; 
    margin:0 auto; 
    overflow:hidden;
}

.blanco{
	color:#fff;	
}

.negro{
	color:#000;	
}

.textog{
	font-size:36px;
	font-weight:bold;
}

#menu_t{
	width:80%;
	background-color:#BFBFBF;
	padding:10px;
	border-radius:8px;
	overflow:hidden;
	margin:0 auto;
		margin-top:50px;
}

.botones_n{
	margin:5px;
	margin-left:10px;
	float:left;	
	width:10%;
	background:#000;
	padding:10px;
	border-radius:10px;
	text-align:center;
}

.botones_m{
	margin:5px;
	margin-left:10px;
	float:left;	
	min-width:100px;
	padding:10px;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
}

.botones_m4{
	margin:5px;
	margin-left:10px;
		
	width:100px;
	padding:10px;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
}

.botones_m3{
	margin:5px;
	margin-left:10px;
	float:left;	
	width:100px;
	padding:10px;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
}

.botones_m2{
	margin:5px;
	margin-bottom:0px;
	margin-left:10px;
	float:left;	
	min-width:100px;
	padding:10px;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
	font-size:12px;
}

.botonesg{
	margin:5px;
	margin-bottom:10px;
	margin-left:10px;
	float:left;	
	padding:10px;
	border:2px solid #5D626B;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	width:120px;
	
}

.pointer{
    cursor: pointer;
}

.botonBuscar{
    background-color:#000000; 
    color:#FFF; 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding:3px;
    width:100px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-justify{
    text-align: justify;
}

.activado1{
	background:#D9D9D9 !important;
	color:#000 !important;
	font-weight:bold;
}

.activado3{
	background:#D9D9D9 !important;
	color:#000 !important;
	font-weight:bold;
}

.activado2{
	background:#fff !important;
	color:#000 !important;
	font-weight:bold;
}

.activado4{
	background:#000 !important;
	color:#fff !important;
	font-weight:bold;
}

#boton1{
	background:#000;
	color:#fff;
	
	
}

#boton2{
	background:#7F7F7F;
	color:#fff;
	
}

#boton3{
	background:#0070C0;
	color:#000;
	
}
#boton4{
	background:#002060;
	color:#000;
	
}

.boton1{
    background:#000;
    color:#fff;
}

.boton2{
	background:#7F7F7F;
	color:#fff;
	
}
.boton3{
	background:#0070C0;
	color:#000;
	
}
.boton4{
	background:#002060;
	color:#000;
	
}

.botones_m2Alterno{
	margin:5px;
	margin-bottom:0px;
	margin-left:10px;
	float:left;	
	min-width:100px;
	padding:10px;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
	font-size:12px;
}

.hide{
    display: none;
}

/*inicio modal*/
.modal-personal{
    position:fixed; 
    z-index:1550; 
    width:900px; 
    max-height:600px;
    overflow:hidden;
    left:50%;
    margin-left:-450px;
    top:50px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: none;
}

.modal-personal-head{
    background-color: #FFFFFF;
    overflow: hidden;  
    height:50px;
    border-bottom: 1px solid #DCDCDC;
    padding: 10px;
}

.modal-personal-body{
    background-color:#FFFFFF;
    overflow-x:hidden; 
    overflow-y:auto; 
    max-height:400px;
    padding:20px;
}

.modal-personal-footer{
    background-color: #FFFFFF;
    overflow:hidden;  
    height:50px;
    border-top:1px solid #DCDCDC;
    padding:10px;
}

.modal-personal-md{
    width:600px;
    margin-left:-300px;
}

.modal-personal-lg{
    width:1024px;
    margin-left:-510px;
}
/*fin modal*/

.bold{
    font-weight: bold;
}

/*Inicio estilo general de las tablas*/
.tablap {     
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    
    margin: 45px;     
    width: 90%; 
    text-align: left;    
    border-collapse: collapse; 
}

.tablap th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;     
    background: #aabcfe;
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #039; 
}

.tablap td {    
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent; 
}

.tablap tr:hover td { 
    background: #d0dafd; 
    color: #339; 
}
/*Fin estilo general de las tablas*/


.tablap2 {     
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    
    margin: 45px;     
    width: 90%; 
    text-align: left;    
    border-collapse: collapse; 
}

.tablap2 th {     
    font-size: 14px;     
    font-weight: normal;     
    padding: 8px;  
    border-top: 4px;    
    border-bottom: 1px; 
    color: #000; 
}

.tablap2 td {   
    padding: 8px;    
    border-bottom: 1px;
    color: #669;    
    border-top: 1px solid transparent; 
}

.tablap2 tr:hover td {  
    color: #339; 
}

.fieldset{
    border: 1px solid #00B0F0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
    padding: 15px;
}

.fondo{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1500;
    background-color:#000;
    filter:alpha(opacity=0.7);
    opacity:0.7;
}

.fondo1{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1500;
    background-color:#000;
    filter:alpha(opacity=0.7);
    opacity:0.7;
    display:none;
}

.contenedorFlex{
    padding: 0px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.divCotizLicensing{
    width:200px;
}

/*inicio contenedor guardar cotizacion*/
.contenedorCot{
    width:400px;
    margin:0 auto;
}

.contenedorCot div.titulo{
    width:120px;
    display: inline-block;
    margin-top:7.5px;
    margin-bottom:7.5px;
}

.contenedorCot div.input{
    width:250px;
    display: inline-block;
    margin-top:7.5px;
    margin-bottom:7.5px;
}
/*fin contenedor guardar cotizacion*/

/*inicio input archivo*/
.input_archivo{ 
    width:250px; 
    display:inline-block; 
    position:relative; 
    border: 1px solid;
    overflow: hidden;
}

.archivo{ 
    position:relative; 
    width:100%; 
    top:0; 
    left:0; 
    opacity:0; 
    cursor:pointer;
    display:none;
}

.url_file[disabled]{
    background-color: #fff;
    border:1px solid #FFF; 
    width:160px;
    display:inline-block;
}

.botones_m5{
    margin-left:1%;	
    min-width:80px;
    padding:5px 10px;
    border-radius:5px;
    text-align:center;
    cursor:pointer;
    display:inline-block;
    border:0;
    font-weight:bold;
    background-color:#000;
    color:#FFF;
}
/*fin input archivo*/

/*inicio estilo modal personalizado*/
.modal-personalizado{
    position:fixed; 
    z-index:1550; 
    width:900px; 
    max-height:600px;
    overflow:hidden;
    left:50%;
    margin-left:-450px;
    top:50px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: none;
}

.modal-personalizado-head{
    background-color: #FFFFFF;
    overflow: hidden;  
    height:50px;
    border-bottom: 1px solid #DCDCDC;
    padding: 10px;
}

.modal-personalizado-body{
    background-color:#FFFFFF;
    overflow-x:hidden; 
    overflow-y:auto; 
    max-height:400px;
    padding:20px;
}

.modal-personalizado-footer{
    background-color: #FFFFFF;
    overflow:hidden;  
    height:50px;
    border-top:1px solid #DCDCDC;
    padding:10px;
}

.modal-personalizado-md{
    width:600px;
    margin-left:-300px;
}

.navg {
  float: left;
  position: relative;
}

.top-bar h2 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
   width: 30%;
  margin: 0 auto;
}

.navg ul {
  list-style: none;
  margin: 15px 0px 0px 0px;
  background: #39DAF7;
  position: absolute;
  top: 60%;
  left: 45%;
}

span.menu{
     display:block;
     cursor:pointer;
	 text-align:left;
	 padding: 0px 0px 0px 25px;
}

ul.res{
	 display:none;
	 padding: 5px 35px 5px 35px;
	 z-index: 1;
}

ul.res li a:hover,ul.res li a.active{
	 color:black;
	 transition: 0.5s all;
 -webkit-transition: 0.5s all;
 -moz-transition:  0.5s all;
 -o-transition:  0.5s all;
}

.navg ul.res li a {
	display: block;
	padding: 10px;
	color: #fff;
	font-size: 14px;
	background: #39DAF7;
}

.navg ul.res li a:hover{
	color:#000;
}

.navg ul.res li{
	display:block;
	text-align:center;
	margin:0px;
	background-color:#fff;
}

.app {
  width: 33%;
  text-align: center;
}

.appr {
  width: 33%;
  text-align: center;
}

.cam-img {
  margin: 20px 0px 35px 0px;
  position:relative;
}

.cam-img a {
  display: block;
}

.cam-img img {
  width: 33%;
}

.cam-img input[type="file"] {
  width: 210px;
  height: 200px;
  background: url(../images/sub-draw.png)no-repeat;
  display: inline-block;
  outline: none;
  position: absolute;
  top:0%;
  left: 30%;
  opacity: 0;
  cursor: pointer;
}

.app input[type="text"] {
  outline: none;
  font-size: 24px;
  font-weight: 400;
  color: #D8D8D8;
  padding: 10px 10px 10px 20px;
  margin: 0px 0px 25px 0px;
  width: 80%;
  border-bottom: 1px solid #5B9BD5;
  -webkit-appearance: none;
  border-top: 1px solid #5B9BD5;
  border-right: 1px solid #5B9BD5;
  border-left: 1px solid #5B9BD5;
  -webkit-box-shadow: 3px 5px 7px -2px rgba(195,203,224,1);
-moz-box-shadow: 3px 5px 7px -2px rgba(195,203,224,1);
box-shadow: 3px 5px 7px -2px rgba(195,203,224,1);
border-radius:4px;
}

.app input[type="password"] {;
  outline: none;
  font-size: 24px;
  font-weight: 400;
  color: #D8D8D8;
  padding: 10px 10px 10px 20px;
  margin: 0px 0px 25px 0px;
  width: 80%;
  border-bottom: 1px solid #5B9BD5;
  -webkit-appearance: none;
  border-top: 1px solid #5B9BD5;
  border-right: 1px solid #5B9BD5;
  border-left: 1px solid #5B9BD5;
  -webkit-box-shadow: 3px 5px 7px -2px rgba(195,203,224,1);
-moz-box-shadow: 3px 5px 7px -2px rgba(195,203,224,1);
box-shadow: 3px 5px 7px -2px rgba(195,203,224,1);
border-radius:4px;
}

.app input[type="submit"] {
  background: #333333;
  color: #FFF;
  font-size: 25px;
  font-weight: 300;
  width: 71%;
  padding: 14px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 20px 0px 0px 0px;
  border: none;
  cursor: pointer;
  outline: none;
}

.app input[type="submit"]:hover {
  background: #858793;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.app input[type="button"] {
  background: #333333;
  color: #FFF;
  font-size: 25px;
  font-weight: 300;
  width: 71%;
  padding: 14px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 20px 0px 0px 0px;
  border: none;
  cursor: pointer;
  outline: none;
}

.app input[type="button"]:hover {
  background: #858793;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.app p {
  font-size: 19px;
  color: #5A6779;
  margin: 10px;
}

.app p a{
  font-size: 14px;
  font-weight:bold;
  color:#5B9BD5;
}

.app p a:hover{
  color: #000;
}

.copyright {
  padding: 40px 0px 0px 0px;
  text-align: center;
}

.copyright p {
  font-size: 16px;
  font-weight: 400;
  color:#000;
}

.copyright p a{
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.copyright p a:hover{
	color:#39DAF7;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.clear{
	clear:both;
}

/*--meadia quiries start here--*/
@media(max-width:1440px){
    .cam-img img {
      width: 30%;
    }

    .app input[type="submit"] {
      font-size: 25px;
      width: 90%;
      padding: 12px 28px;
      margin: 15px 0px 0px 0px;
    }

    .app input[type="text"] {
      font-size: 20px;
    }

    .app input[type="password"] {
      outline: none;
    }

    .cam-img input[type="file"] {
      width: 135px;
      height: 135px;
      left: 35%;
    }

    span.menu img {
      width: 80%;
    }

    span.menu {
      padding: 7px 0px 0px 25px;
    }
}

@media(max-width:1366px){
    .app input[type="submit"] {
      font-size: 20px;
    }
    
    .top-bar {
      padding: 10px 0px;
    }
}

@media(max-width:1280px){
    .app input[type="submit"] {
      width: 75%;
    }
}

@media(max-width:1024px){
    .app {
      padding: 0px 0px 40px 0px;
    }

    .app input[type="text"] {
      font-size: 20px;
      background: url(../images/email.png)no-repeat 0px 12px;
      margin: 0px 0px 20px 0px;
    }

    .app input[type="password"] {
      background: url(../images/lock.png)no-repeat 0px 7px;
      font-size: 20px;
      margin: 0px 0px 20px 0px;
    }

    .app input[type="submit"] {
      font-size: 20px;
      width: 79%;
      padding: 13px 28px;
      margin: 5px 0px 0px 0px;
    }

    .app p {
      margin: 25px 0px 0px 0px;
      font-size: 15px;
      padding: 0px 4px;
    }

    .app p a {
      font-size: 19px;
    }

    span.menu img {
      width: 83%;
    }

    .top-bar h2 {
      font-size: 25px;
    }

    .cam-img input[type="file"] {
      width: 100px;
      height: 100px;
    }
}

@media(max-width:768px){
    .app {
      width: 47%;	
      padding: 0px 0px 40px 0px;
    }

    .app input[type="submit"] {
      width: 78%;
      margin: 20px 0px 0px 0px;
      font-size: 25px;
      padding: 15px 28px;
    }

    span.menu img {
      width: 75%;
    }

    .top-bar {
      padding: 15px 0px;
    }

    .app p {
      margin: 80px 0px 0px 0px;
    }

    body {
      padding: 85px 0px 30px 0px;
    }

    .copyright {
      padding: 125px 0px 0px 0px;
    }
}

@media(max-width:640px){
    .cam-img  a img {
      width: 35%;
    }

    .app input[type="submit"] {
      width: 82%;	
      font-size: 20px;
      padding: 12px 28px;
    }

    .app p a {
      font-size: 15px;
    }

    .app p {
      font-size: 15px;
       margin: 60px 0px 0px 0px;
    }

    .cam-img {
      margin: 40px 0px 40px 0px;
    }
}

@media(max-width:480px){
    .top-bar h2 {
      font-size: 22px;	
      width: 31%;
    }

    .menu img {
      width: 75%;
    }

    span.menu {
      padding: 0px 0px 0px 17px;
    }

    body {
      padding: 50px 0px 30px 0px;
    }

    .app input[type="text"] {
      background: url(../images/email.png)no-repeat 0px 14px;
      font-size: 19px;
      margin: 0px 0px 20px 0px;
    }

    .app input[type="password"] {
      background: url(../images/lock.png)no-repeat 0px 6px;
      font-size: 19px;
      margin: 0px 0px 20px 0px;
    }

    .app input[type="submit"] {
      width: 82%;
      font-size: 17px;
      padding: 10px 28px;
      margin: 25px 0px 0px 0px;
    }

    .app {
      padding: 0px 0px 25px 0px;
      width: 65%;
    }

    span.menu img {
      width: 65%;
    }

    .navg ul {
      top: 50%;
      left: 30%;
    }
}

@media(max-width:320px){
    .menu img {
      width: 50%;
    }

    .top-bar h2 {
      font-size: 18px;
    }

    .top-bar {
      padding: 10px 0px;
    }

    .app a img {
      width: 37%;
    }

    .app input[type="text"] {
      background: url(../images/email.png)no-repeat 2px 7px;
      font-size: 15px;
      margin: 0px 0px 10px 0px;
      padding: 10px 10px 10px 45px;
    }

    .app input[type="password"] {
      background: url(../images/lock.png)no-repeat 2px 0px;
      font-size: 15px;
      margin: 0px 0px 10px 0px;
      padding: 10px 10px 10px 45px;
    }

    .app input[type="submit"] {
      width: 81%;
      font-size: 15px;
      padding: 7px 28px;
      margin: 17px 0px 0px 0px;
    }

    .app p {
      font-size: 13px;
      margin: 20px 0px 0px 0px;
    }

    .app p a {
      font-size: 12.5px;
    }

    .copyright p {
      font-size: 13px;
    }

    .copyright p a {
      font-size: 13px;
    }

    .copyright {
      padding: 16px 0px 0px 0px;
    }

    body {
      padding: 40px 0px 20px 0px;
    }

    .navg ul.res li a {
      padding: 5px;
      font-size: 11px;
    }

    .app {
      width: 86%;
    }

    .cam-img {
      margin: 20px 0px 20px 0px;
    }

    .cam-img input[type="file"] {
      left: 30%;
    }
}
/*--meadia quiries end here--*/