
.main-homeboxsty{width: 90%; margin: auto; text-align: center; background-color: #fff; padding: 15px; border: solid 2px rgba(0, 132, 226, 0.84); box-shadow: 0px 0px 0px 10px #fff; margin-bottom: 25px;}
.naad-formindex{background-color: #056396; padding: 15px 10px; border: solid 2px #fff; box-shadow: 0px 0px 0px 4px #056396;     min-height: 334px;}
.sty-inputform621{margin-bottom: 15px; padding: 6px 10px; background-color: #fff; border: 1px solid #ddd; height: 42px; margin-top: 8px;}
.sub-buttonform321{background-color: #ffffff; color: #056396; border: solid 1px #056396; padding: 6px 25px; box-shadow: 0px 0px 0px 2px #ffffff; margin-right: 5px; font-size: 16px; text-transform: uppercase; font-weight: 600; margin-top: 11px;}
.process-buttonsty951{border-radius: 50%; width: 100px; height: 100px; background-color: #127efe; color: #fff; border: solid 2px #fff; box-shadow: 0px 0px 0px 4px #127efe;}
.discover-emaildata621{margin-left: 0px; padding-left: 0px; width: 98%; margin: auto;}
.discover-emaildata621 li{width: 32%; display: inline-block; border: solid 1px #dedede; padding: 10px; margin-right: 5px; background-color: #fff; border-radius: 12px;}
.discover-emaildata621 li img{max-width: 100%;}
.discover-emailsty{font-size: 21px; text-align: left; width: 98%; margin: auto; margin-bottom: 20px !important; margin-top: 18px; color: #056396; text-decoration: underline; text-transform: capitalize;}
.logo-mainsty654{font-size: 18px; color: #056396; font-weight: 600; margin-top: 4px;} 
.login-logosty753{width: 70px; height: 70px; margin: auto}
.login-formhadsty{color: #fff; font-size: 24px; text-transform: uppercase; margin-bottom: 16px; text-align: center; border-bottom: solid 1px #fff; padding-bottom: 11px; margin-top: 0px;}
.login-footersty654{background-color: #056396; color: #fff; padding: 10px; margin-top: 22px; text-align: center;}
.login-footersty654 small{color: #fff; font-size: 15px;}
.not-bgsty321 {background-color: #224269 !important; color: #fff !important; }
.select-boxsty951{margin-bottom: 10px; font-size: 16px; color: #224269; font-weight: 400;}
.infodata-list652{padding-left: 0px;
	margin-top: 19px;}


.infodata-list652 li{
	background-image: url(../img/checkCIM.png);
	display: block;
	background-size: 22px;
	background-repeat: no-repeat;
	padding-left: 34px;
	font-size: 16px;
	margin-bottom: 16px;
} 


span.btn_181019{
	display: inline-block;
	width: 100%;
	cursor: pointer;
}
p.tab_181019{
	display: none;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.4;
	text-align: justify;
}
p.tab_181019 b{}

ul.tab_181019{
	padding-left: 15px;
	display: none;
}
ul.tab_181019 li{
	padding: 0;
	background: none;
	font-size: 14px;
	display: list-item;
	list-style: decimal;
	margin-bottom: 10px;
}
ul.tab_181019 li span{
  display: inline-table;
  width: 100%;
  font-weight: 500;
}
ul.tab_181019 li span b{
  font-weight: 600;
  text-transform: capitalize;
}










.faq-hadsty651{font-size: 22px; padding-bottom: 7px; color: #224269;margin-top: 12%;}
.img-inforight{
	text-align: center;
	margin-top: 100px;
}
.img-inforight img{margin: auto; max-width: 74%;}
.main-contactsty654{background-color: #fff; border: solid 4px #00608b; box-shadow: 0px 0px 0px 6px #fff; padding: 15px; margin-top: 25px;} 
.contact-us985{margin-top: 0px; font-size: 24px; border-bottom: solid 1px #cfd2d6; padding-bottom: 5px; margin-bottom: 15px;}

.modal-titlenewsty{font-size: 20px;
	color: #fff;
	text-transform: capitalize;}
	.faedit-sty12{    background-color: #224269 !important;
	color: #fff !important; border: 0px !important;}
	.faedit-sty12 i{color: #fff !important;} 

	.fadelete-sty12{    background-color: #ff0000 !important;
	color: #fff !important;
	border: 0px !important;}
	.fadelete-sty12 i{color: #fff !important;} 






















































.sidebar_toggle_dbtn{
	cursor: pointer;
}

.lag_dv2_1215181019{
	display: none;
}

.btn_1215181019{
  color: #ffffff;
  padding: 3px 5px;
  font-size: 15px;
  background: #00aced;
  vertical-align: middle;
  font-weight: 400;
  letter-spacing: 0.2px;
  cursor: pointer;
  border-radius: 3px;
}
.btn_1215181019 i{
	font-size: 20px;
	line-height: 15px;
	vertical-align: middle;
}














.app-footer {
  right: 0;
}




.sidebar_toggle_dactive .app-footer {
	margin-left: 0px !important;
	right: 0;
	width: 100%;
}



.tabs-colorchg li a{
	text-align: center;
}

@media (max-width: 998px) and (min-width: 750px){}
	h1.m-n.font-thin.h3.text-black {
	  font-size: 18px !important;
	}
}

@media (min-width: 1200px) and (max-width:1400px){}
/* Responsive_1200__1400 */
@media (min-width: 992px) and (max-width:1199px){}
/* Responsive_992__1199 */
@media (min-width: 768px) and (max-width:991px){}
/* Responsive_768__991 */
@media (min-width: 576px) and (max-width:767px){}
/* Responsive_576__767 */
@media (min-width: 451px) and (max-width:575px){}
/* Responsive_451__575 */
@media screen and (max-width: 450px){}
/* Responsive_0__450 */


@media (min-width:1401px){}
/* Responsive_min__1401 */
@media (min-width:1200px){}
/* Responsive_min__1200 */
@media (min-width:992px){}
/* Responsive_min__992 */
@media (min-width:768px){
	#aside{
		display: block !important;
	}
	.sidebar_toggle_dactive .sidebar_toggle_dbtn .text{
		display: none !important;
	}
	.sidebar_toggle_dactive .sidebar_toggle_dbtn .text-active{
		display: block !important;
	}
	.sidebar_toggle_dactive #aside{
		display: none !important;
	}
	.sidebar_toggle_dactive #content{
		margin-left: 0 !important;
	}






}
/* Responsive_min__768 */
@media (min-width:576px){}
/* Responsive_min__576 */
@media (min-width:451px){}
/* Responsive_min__451 */


@media (max-width:1400px){}
/* Responsive_max__1400 */
@media (max-width:1199px){
  .main-homeboxsty .discover-emaildata621 li{
		width: 31%;
		display: inline-block;
  }
	.block-colorsty621 p {
	  min-height: 56px;
	  line-height: 1.1;
		padding: 0 5px;
	}
  .rsp_0242171019{
  	width: 50%;
    display: inline-block;
    margin-right: -4px;
  }





}
/* Responsive_max__1199 */
@media (max-width:991px){
  .main-homeboxsty .naad-formindex {
		min-height: 0;
		border: solid 2px #056396;
    box-shadow: none;
  }
  .block-colorsty621 p{
  	min-height: 0;
  }
  .dv_0440171019{
  	margin-bottom: 30px;
  }
  .dv2_0440171019{
  	margin-bottom: 5px;
  }
	.right-barsty62 {
	  border-left: hidden !important;
	}
	.dv1_1248111019 {
	  padding: 0 4px;
	}
	.dv2_1248111019 {
	  min-height: 140px;
	}
	#form1{
		margin-bottom: 20px;
	}
	.rsp_mrg_b20_991{
		margin-bottom: 20px;
	}
	.login-mainsty{
		width: 100%;
    max-width: 500px;
	}







}
/* Responsive_max__991 */
@media (max-width:767px){
  .main-homeboxsty .discover-emaildata621 li {
		width: 31%;
  }
  .main-homeboxsty .process-buttonsty951 {
		border-radius: 50%;
		width: 80px;
		height: 80px;
  }
  .main-homeboxsty .process-buttonsty951 i{
		font-size: 30px;
  }
  .main-homeboxsty .process-row:before {
		top: 40px !important;
	}
	#aside{
		display: none;
		position: fixed;
		top: 50px;
		left: 0px;
		right: 0px;
		z-index: 100;
	}
	.navbar-header > button {
	  color: #fff;
	}
	.mar-topsty65 {
	  position: absolute;
	  margin-top: 0;
	  top: 0;
	  bottom: 0;
	  right: 10px;
	  margin: auto;
	  height: 20px;
	}
	.setting-dragsty li a {
	  color: #363f44;
	}
	.img-inforight{
		display: none;
	}
	.faq-hadsty651 {
	  margin-top: 20px;
	}
	#footer{
		display: none !important;
	}
	#footer.new_footer{
		position: initial !important;
		display: inline-block !important;
		width: 100%;
	}
	.form1_0112111019{
		float: none;
	}
	.dv1_1248111019 {
	  width: 25%;
	  margin: 0 -2px 0;
	  display: inline-block;
	  vertical-align: top;
	}
	.dv_0247111019{
		width: 100%;
		margin-bottom: 20px;
	}
	.block2_wrrpr_0227111019{
		margin-bottom: 190px !important;
	}
	.block2_0227111019{
    width: 100%;
    width: calc(100% - 30px);
    position: absolute;
    left: 0;
    bottom: -160px;
    margin: 0 15px;
	}
	.dv2_0440171019,
	.form3_0112111019{
		padding: 0
	}
	.left-navsty621 {
		height: auto;
	  width: 100%;
	}







}
/* Responsive_max__767 */
@media (max-width:575px){
	.main-homeboxsty .process,
	.main-homeboxsty .process + .row,
	.main-homeboxsty .discover-emailsty,
	.main-homeboxsty .discover-emaildata621{
		display: none;
	}
	.main-homeboxsty .login-footersty654{
		margin-bottom: 0;
	}
	.main-homeboxsty .login-logosty753 {
	  width: 100%;
	  object-fit: contain;
	  margin-bottom: 5px;
	}
	.main-homeboxsty .login-formhadsty {
    font-size: 22px;
  }
  .rsp_0242171019{
  	width: 100%;
  }
  .footer-bgsty,
  .footer-bgsty > span{
		display: inline-block;
		width: 100%;
		text-align: center;
  }
  .email-boxsty {
    width: 100%;
  }
	.dv1_1248111019 {
	  width: 50%;
	  margin: 0 -2px 7px;
	}
	.manage-tabssty > li.active > a {
	  margin-bottom: 5px;
	}






}
/* Responsive_max__575 */
@media (max-width:450px){
	.main-homeboxsty{
		padding: 2px;
		width: 100%;
	}
	.rsp_0242171019 > a{
		padding: 0;
	}
	#form1 > div{
		padding: 0 !important
	}
  .email-boxsty {
    padding: 10px;
  }
	.rsp1_0227111019 td{
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}






}
/* Responsive_max__450 */










