body{

}

h1.contactUs{
    color: #ffffff;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}

.form-control::-webkit-input-placeholder { color: #1c94c4; font-weight: 1.3vw;}
.form-control:-moz-placeholder { /* Firefox 18- */ color: #1c94c4;; font-weight: 1.3vw;}
.form-control::-moz-placeholder { /* Firefox 19+ */ color: #1c94c4; font-weight: 1.3vw;}
.form-control:-ms-input-placeholder { color: #1c94c4; font-weight: 1.3vw;}

input.form-control, textarea.form-control{

    font-weight: 1.3vw;
}

.selectCliente{
    font-size: 1vw;
    height:2.5vw;
    color : #0070c0;
}

.head{
    margin-top: 4vw;
    background-color: #ffffff;
    width: 100%;
    height:5vw;
}

.head p{
    font-size: 3vw;
    line-height: 5vw;
    color: #0070c0;
}

.form-group.contIndex{
    color: #0070c0;
}
.contImgHead{
    float:left;
    margin-right: 0.3vw;
    width:3vw;
    height:100%;
    overflow:hidden;
    position:relative;
}

.imgHead{
    width:100%;
    height: auto;
    position: absolute;
    bottom:0.5vw;
    cursor: pointer;
}

.row.margenTop{
    margin-top: 5vw;
}

.divLogin{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    min-height:13vw;
    background: #ffffff; 
    padding:2.5vw; 
    padding-bottom: 2vw;
    -webkit-box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.75);
}


.contReseller{
    margin-top:2vw;
    height:3vw;
    line-height: 3vw;
    overflow: hidden;
    background: #ffffff;
    color: #00b0f0;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.imgTituloHome{
    width:29vw;
    height: auto;
}

.imgCIMInfo{
    width:15vw;
    height: auto;
    margin:0 auto;
}

.imgHome, .imgHome1{
    width:13vw;
    height: auto;
}

.imgHome{
    cursor: pointer;
}

.tituloFootHome{
    color: #ffffff;
    font-size: 3vw;
    text-align: center;
}

.tituloCIMInfo{
    color: #ffffff;
    font-size: 4vw;
    text-align: center;
}

.tamGrafico{
    padding: 0;
    margin: 0;
    height:20vw;
}

.imgBtnOpc{
    width:6vw;
    height: auto;
    cursor: pointer;
}

/*inicio estilo manage customers*/
.contenedor1{
    width:100%;
    overflow:hidden;
    min-height:10vw;
    padding:0px;
    margin:0px;	
}

.divContenedor{
    width:90%;  
    margin: 0 auto;
    margin-top: 2vw;
}

.divMenuContenido{
    width:100%; 
    margin:0px; 
    padding:0px; 
    overflow:hidden; 
}

.bordeContenedor{
    width:100%; 
    margin:0px; 
    padding:0px;
    background:#ffffff; 
    min-height:10vw; 
    overflow:hidden;
}

.contenido{
    background:#d9d9d9; 
    overflow:hidden;
    min-height:10vw; 
    margin:2vw;
    padding:2vw;
}

.botonesTopMenu{
    margin-top: 0.35vw;
    margin-right: 0.35vw;
    float:left;	
    min-width:10vw;
    padding:0.7vw;
    border-radius:0.7vw 0.7vw 0 0;
    text-align:center;
    cursor:pointer;
    font-size:1.2vw;
}

.boton2{
    background: #d9d9d9;
    color:#002060;
    font-size: 1.8vw;
}

.activado3{
    background:#ffffff !important;
    color:#002060 !important;
    font-size:1.8vw;
    font-weight:bold;
}
/*fin estilo manage customers*/

.btnSave{
    width: 8vw;
    height: auto;
}

.contVideo{
    background: #ffffff;
    width: 100%;
    height: 10vw;
    padding:2vw;
}

.tituloVideo{
    color: #2f5597;
    font-size: 2vw;
    text-align: center;
}

.contPreguntas{
    background: #deebf7;
    width: 100%;
    height: 25vw;
    padding:2vw;
    overflow: hidden;
}

.tituloPreguntas{
    color: #00b0f0;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

.imgCheck{
    width: 3vw;
    height: autto;
}

.txInterrogation{
    color: #2f5597;
    font-size: 1.3vw;
    font-weight: bold;
}

.contImgInterrogacion{
    height: 18vw;
}

.imgInterro{
    width: 12vw;
    height: auto;
    margin:0 auto;
    top: 50%; 
    left:50%; 
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
}

.subtituloLicensing2{
    /*font-size:22px;*/
    font-size: 1.6vw;
    color: #ffffff;
}