.content-partner{
    height:5.8vw;
    overflow: hidden;
}

.content-partner span{
    line-height: 5.8vw;
    font-size: 1.4vw;
    font-weight: bold;
    text-align: center;
    float:left;
}

.content-partner img{
    float:left; 
    width:1.5vw; 
    height:auto; 
    position:absolute; 
    top:50%; 
    margin-top:-0.75vw;
    margin-left: 0.5vw;
    cursor: pointer;
}

.content-partner > .btn-group{
    display: inline-block;
    vertical-align: middle;
    width:4vw;
    height:5.5vw;
}

.content-partner > .btn-group > .dropdown-menu{
    margin-top: -1.7vw;
    margin-left: 0.4vw;
    /*display:block;*/
    overflow: hidden;
    height: 1.8vw;
    z-index: 1300;
    padding:0;
    width: 10px !important;
}

.content-partner > .btn-group > .dropdown-menu > li{
    font-size: 1vw;
    font-weight: bold;
}

.contenedor{
    width:100%;
    overflow:hidden;
    min-height:10vw;
    padding:0px;
    margin:0px;	
}

.divContenedor{
    width:90%;  
    margin: 0 auto;
    margin-top: 2vw;
}

.divMenuContenido{
    width:100%; 
    margin:0px; 
    padding:0px; 
    overflow:hidden; 
}

.bordeContenedor{
    width:100%; 
    margin:0px; 
    padding:0px;
    background:#00b0f0; 
    min-height:10vw; 
    overflow:hidden;
}

.contenido{
    background:#d9d9d9; 
    overflow:hidden;
    min-height:10vw; 
    margin:2vw;
}

.botonesTopMenu{
    margin-top: 0.35vw;
    margin-right: 0.35vw;
    float:left;	
    min-width:10vw;
    padding:0.7vw;
    border-radius:0.7vw 0.7vw 0 0;
    text-align:center;
    cursor:pointer;
    font-size:1.2vw;
}

.boton2{
    background: #d9d9d9;
    color:#002060;
    font-size: 1.8vw;
}

.activado3{
    background:#00b0f0 !important;
    color:#002060 !important;
    font-size:1.8vw;
    font-weight:bold;
}

.btnSombreado{
    -webkit-box-shadow: 1px -1px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 14px -1px rgba(0,0,0,0.75);
    box-shadow: 1px -1px 14px -1px rgba(0,0,0,0.75);
    cursor: pointer;
}

.tablap {     
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;                      
    font-size: 1vw; 
    margin: 0 auto;   
    width: 99%; 
    text-align: left;    
    border-collapse: collapse; 
}

.tablap th {     
    font-size: 1vw;     
    font-weight: normal;     
    padding: 0.8vw;     
    background: #0070c0;
    border-top: 4px solid #0070c0;    
    border-bottom: 1px solid #fff; 
    color: #ffffff; 
    vertical-align: middle;
}

.tablap td {    
    padding: 0.8vw;     
    background: #f2f2f2;     
    border-bottom: 1px solid #fff;
    color: #000000;    
    border-top: 1px solid transparent; 
    vertical-align: middle;
}

.tablap tr:hover td { 
    background: #d0dafd; 
    color: #339; 
}

.fieldsetNoDescubiertoEquipo{
    float: left;
    margin-right: 20px; 
    border: 1px solid #00B0F0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width:250px;
    overflow:hidden;
}

.fieldsetNoDescubiertoReto{
    float: left;
    border: 1px solid #00B0F0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width:350px;
    overflow:hidden;
}